<div class='jumbotron'>
  <div class='row justify-content-md-center cleared'>
    <div class='col-md-4 mb-md-2'>
      <div class="card text-center">
        <%= storage_presenter(@user.avatar_image).render(resize_and_pad: [600, 400], container_class: 'card-img-top') %>
      </div>
    </div>

    <div class='col-md-8'>
      <div class='card border-info h-100'>
        <div class='card-header'>
          <%= @user.full_name %>
        </div>
        <div class="card-body">
          <div class='field row card-title'>
            <div class='col-sm-3'><%= art('user.email') %></div>
            <div class='col-sm-5'><%= @user.email %></div>
          </div>
          <div class='field row card-title'>
            <div class='col-sm-3'><%= art('user.role') %></div>
            <div class='col-sm-5'>
              <%= @user.role.titleize %>
            </div>
          </div>
          <div class='field row card-title'>
            <div class='col-sm-3'><%= art('user.created_at') %></div>
            <div class='col-sm-5'><%= l(@user.created_at, format: :short) %></div>
          </div>
        </div>
        <div class='card-footer'>
          <%= l(@user.updated_at, format: :last_timestamp) %>
        </div>
      </div>
      </div>
  </div>

  <div class='row'>
    <div class='actions col-md-8 offset-md-4'>
      <div class='card-footer d-flex justify-content-md-center mx-md-auto mt-2 w-100'>
        <%= link_to t('helpers.links.edit'), @user.edit_link, id: dom_id(@user, :edit_profile), class: "card-link btn btn-info" %>
      </div>
    </div>
  </div>
</div>
