<%= render 'layouts/errors', resource: f.object %>

<div class='row justify-content-md-center'>
  <div class='col-md-4 mb-md-2'>
    <div class="card text-center">
      <div class="dropzone dropzone-default dz-clickable d-flex justify-content-center" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
      <%= f.file_field :avatar_image, direct_upload: true, data: { 'dropzone-target': 'input' } %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <h3 class="dropzone-msg-title"><%= t('.dropzone_upload_title') %></h3>
        <span class="dropzone-msg-desc text-sm"><%= t('.dropzone_upload_restrictions') %></span>
        </div>
      </div>
      <% if f.object.avatar_image.attached? && f.object.avatar_image.representable? %>
        <div class='avatar-container'>
          <%= image_tag f.object.avatar_image.representation(resize_to_limit: [385, 230]) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-md-8'>
    <div class='card border-info h-100'>
      <div class='card-header'>
        Header
      </div>
      <div class="card-body">
        <div class='field row card-title'>
          <div class='col-sm-3'>
            <%= f.label :full_name %>
          </div>
          <div class='col-sm-5'>
            <%= f.text_field :full_name, class: 'form-control' %>
          </div>
        </div>
        <div class='field row card-title'>
          <div class='col-sm-3'>
            <%= f.label :role, art('user.role'), class: 'form-check-label' %>
          </div>
          <div class='col-sm-5'>
            <div class='custom-control custom-switch  role-switcher'>
              <%= f.check_box "role", { class: "custom-control-input", checked: f.object.admin?, id: dom_id(f.object, 'switcher') }, :admin, :member %>
              <%= label_tag dom_id(f.object, 'switcher'), f.object.role.titleize, class: 'custom-control-label' %>
            </div>
          </div>
        </div>
      </div>
      <div class='card-footer'>
        Valid
      </div>
    </div>
    </div>
</div>
