<%= render 'layouts/errors', resource: @user %>

<div class="form-group row">
  <%= f.label :full_name, class: 'col-sm-1 control-label' %>
  <div class="col-sm-7">
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class='col-sm-7 offset-1'>
    <div class="dropzone dropzone-default dz-clickable d-flex justify-content-center" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
    <%= f.file_field :avatar_image, direct_upload: true, data: { 'dropzone-target': 'input' } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title"><%= t('.dropzone_upload_title') %></h3>
      <span class="dropzone-msg-desc text-sm"><%= t('.dropzone_upload_restrictions') %></span>
      </div>
    </div>
  </div>
</div>

<div class="form-grpup row d-flex ml-4">
  <%= f.label :role, 'Admin', class: 'col-sm-1 form-check-label' %>
  <%= f.check_box :role, {class: 'form-check-input', checked: @user.admin?}, :admin, :member %>
</div>

<div class="form-group row">
  <div class="col-sm-8">
    <div class='card-footer d-flex justify-content-md-center mx-md-auto mt-5 w-100'>
      <%= f.submit t('helpers.buttons.save'), class: 'btn btn-primary' %>
      <%= link_to t('helpers.links.back'), admin_users_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
