<div class='field row card-title'>
  <div class='col-sm-3'>
    <%= f.label :email %>
  </div>
  <div class='col-sm-5 form-group'>
    <%= f.email_field :email, class: 'form-control', placeholder: t('activerecord.attributes.user.email'), required: true %>
    <div class='valid-tooltip form-validation-tooltip-placement'>
      <%= t('helpers.validation.valid') %>
    </div>
    <div class='invalid-tooltip form-validation-tooltip-placement'>
      <%= error_message_for(f.object, :email) %>
    </div>
  </div>
</div>

<div class='field row card-title'>
  <div class='col-sm-3'>
    <%= f.label :password %>
  </div>
  <div class='col-sm-5 form-group'>
    <%= f.password_field :password, class: 'form-control', placeholder: t('activerecord.attributes.user.password'), required: true, pattern: User::PASSWORD_REQUIRED_PATTERN %>
    <div class='valid-tooltip form-validation-tooltip-placement'>
      <%= t('helpers.validation.valid') %>
    </div>
    <div class='invalid-tooltip form-validation-tooltip-placement'>
      <%= error_message_for(f.object, :password) %>
    </div>
  </div>
</div>

<div class='field row card-title'>
  <div class='col-sm-3'>
    <%= f.label :password_confirmation %>
  </div>
  <div class='col-sm-5 form-group'>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('activerecord.attributes.user.password_confirmation'), required: true, pattern: User::PASSWORD_REQUIRED_PATTERN %>
    <div class='valid-tooltip form-validation-tooltip-placement'>
      <%= t('helpers.validation.valid') %>
    </div>
    <div class='invalid-tooltip form-validation-tooltip-placement'>
      <%= error_message_for(f.object, :password_confirmation) %>
    </div>
  </div>
</div>
