<div class="jumbotron">
  <%= form_for [:admin, @user], html: { class: "form-horizontal needs-validation", novalidate: true }, multipart: true do |f| %>
    <div class='row justify-content-md-center'>
      <%= render 'image_form_field', f: f %>

      <div class='col-md-8'>
        <div class='card border-info h-100'>
          <div class='card-header'></div>
          <div class="card-body">
            <%= render 'new_form_fields', f: f %>
            <%= render 'form', f: f %>
          </div>
          <div class='card-footer'>
          </div>
        </div>
        </div>
    </div>

    <div class='row'>
      <div class='actions col-md-8 offset-md-4'>
        <div class='card-footer d-flex justify-content-md-center mx-md-auto mt-2 w-100'>
          <%= f.submit t('helpers.buttons.save'), class: 'card-link btn btn-info' %>
          <%= link_to t('helpers.links.back'), admin_users_path, class: 'card-link btn btn-secondary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
