<!DOCTYPE html>
<html>
  <head>
    <title>FullstackDeveloper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <main class="container mt-3">
        <%= render 'layouts/breadcrumb' %>
        <div class='user-nav-container float-right'>
          <% if user_signed_in? %>
            <%= link_to logout_path, method: :delete, id: dom_id(current_user, :logout), class: "btn btn-info btn-lg mb-2" do %>
              <span><%= t('sidebar.logout') %></span>
            <% end %>
          <% end %>
        </div>
        <div class="flash-container">
          <%= render 'flash_messages'%>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
